// ====================================
// Customize breadcrumbs
// ====================================

/*
* TABLE OF CONTENTS
*
* version 4
*/

// >  version 4
.breadcrumbs {
    @include clearfix();
    padding: 16px 0 32px;
    font-size: 16px;

    .cate {
        font-size: 2em;
        line-height: 1.25;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        margin-bottom: 1.6rem;

        &__sub {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: center;

            li {
                font-size: 1em;
                line-height: 1.25;
                margin-right: 1px;

                a {
                    display: flex;
                    transition: all 0.2s ease-in-out;
                    padding: 8px 16px;

                }

                &.is-active,
                &:hover {
                    a {
                        color: white;
                        background-color: $primary;
                    }
                }
            }
        }
    }
}