// ====================================
// Customize layout
// ====================================

// > layout

.main-column {
    width: 795px;
}

.sidebar {
    width: 320px;
}

.above-the-fold {

    .main-column,
    .sub-column {
        padding-top: 25px;
    }
}

.medium-zoom-overlay {
    z-index: 21;
}

.medium-zoom-image {
    z-index: 22;
}