// ====================================
// Customize layout
// ====================================

// > layout

.main-column {
    width: 795px;
}

.sidebar,
.index-aside-column {
    width: 320px;
}

.above-the-fold {

    .main-column,
    .sub-column {
        padding-top: 25px;
    }
}

.medium-zoom-overlay {
    z-index: 21;
}

.medium-zoom-image {
    z-index: 22;
}

.top-box {
    &.common {
        margin-bottom: 24px;

        .box-content {
            padding: 24px;
            background-color: #fff;
            margin-top: 20px !important;
        }

        .form-control,
        .btn {
            height: 50px;
        }

        .form {
            &-group {
                margin-bottom: 24px;

                label {
                    font-size: 16px;
                    text-transform: uppercase;
                }
            }

            &-control {
                width: 100%;
                padding: 12px;
                background: #333;
                color: white;

                &:focus,
                &:active {
                    border-color: $blue;
                }
            }
        }

        .btn {
            font-size: 16px;
            padding-left: 24px;
            padding-right: 24px;
            border-radius: 0;

            &+.btn {
                margin-left: 16px;
            }
        }

        .text-listing {
            @include clearfix();
            vertical-align: top;
            font-size: 0;

            h5 {
                width: 50%;
                display: inline-block;
                font-size: 14px;
                line-height: 1.1;
                text-transform: uppercase;

                a {
                    display: block;
                }
            }
        }
    }
}

.wrapper {
    width: 1170px;

    @media screen and (min-width: 1025px) {
        width: initial;
    }
}